* {
    font-family: sans-serif;
    cursor: url(imagem/cursor.png) 2 2, auto;
}

body {
    background: url(https://images.alphacoders.com/881/thumb-1920-881641.jpg);
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 30px;
    height: 110vh;
    background-size: cover;
    overflow-x: hidden;
}

.header {
    background-color: #1b1e28;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 0.3s;
}

a:hover {
    transform: scale(1.1);
}

.menu li {
    list-style: none;
    margin: 10px;
}

.menu {
    display: flex;
    transition: 0.3s;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    color: orange;
}

.logo img {
    border-radius: 100%;
    width: 70px;
}

.menu a {
    display: block;
    font-size: 18px;
}

.menu a:hover {
    color: rgba(155, 247, 7, 0.796);
}

.menu a::after {
     content: "";
    display: block;
    width: 200px;
    height: 2px;
    background: orange;
    margin: 10px auto;
    box-shadow: 0 0 10px orange;
}

.caixa {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 10px;
    padding: 20px;
    height: 600px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    justify-content: center;
    color: white;
}

.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.caixa1 {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 10px;
    padding: 20px;
    height: 600px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    justify-content: flex-start;
    color: white;
    overflow: hidden;
}

.caixa::before {
    content: "";
    position: absolute;
    background: url(imagem/contato_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.caixa1::before {
    content: "";
    position: absolute;
    background: url(imagem/contato_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#titulo h2 {
    margin-bottom: 10px;
    color: #ff007f;
    text-transform: uppercase;
}

#titulo p {
    font-size: 13px;
    margin-bottom: 20px;
    padding: 0 10px;
}

.conteudo_baixo {
    margin-top: 20px;
    font-size: 14px;
}

.conteudo_baixo button {
    margin-top: 30px;
    background: linear-gradient(to right, #e64a7e, #d812d5);
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}

#txt {
    color: #B8860b;
}